# Git
.git
.gitignore

# Composer & Node (Must be installed fresh in Docker build)
/vendor
/node_modules
npm-debug.log
yarn-error.log

# Laravel Cache & Local Storage
.env
.env.backup
.env.production
/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
!/storage/app/.gitignore
/storage/debugbar
.phpunit.result.cache
.phpunit.cache

# Build assets (Generated fresh in Docker build)
/public/build
/public/hot
/public/storage

# IDE & OS
/.idea
/.vscode
/.fleet
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
*.log
